body {
  background: linear-gradient(
    179.4deg,
    rgb(12, 20, 69) -16.9%,
    rgb(71, 30, 84) 119.9%
  );
}

.icon-input-container {
  display: flex;
  align-items: center;
  background: white;
  border-radius: 6px;
  padding: 0 10px;
}

.icon-input-container i {
  margin-right: 5px;
  color: #212529;
  order: 2;
}

.icon-input-container input {
  border: none;
  width: 100%;
  padding: 8px 0;
}

.todos li {
  background-color: #c5b3e6;
  border-color: #c5b3e6;
  margin: 5px 0;
}

.delete {
  cursor: pointer;
}

.filtered {
  display: none !important;
}

#esra {
  text-decoration: none;
}

#esra:hover {
  color: orangered;
  transition: all 0.5s ease;
}
