body {
  background: linear-gradient(
    179.4deg,
    rgb(12, 20, 69) -16.9%,
    rgb(71, 30, 84) 119.9%
  );
}

.search input {
  padding: 10px;
}

.icon-input-container {
  display: flex;
  align-items: center;
  background: white;
  border-radius: 6px;
  padding: 2px 10px;
}

.icon-input-container i {
  margin-right: 5px;
  color: #212529;
  order: 2;
}

.icon-input-container input {
  border: none;
  width: 100%;
  padding: 10px;
}

.todos li {
  background-color: #c5b3e6;
  border-color: #c5b3e6;
  margin: 5px 0;
  justify-content: space-between;
}

.icons {
  padding: 8px;
}

.fa-check {
  margin-right: 20px;
}

.delete {
  cursor: pointer;
}

.filtered {
  display: none !important;
  opacity: 0 !important;
}

#esra {
  text-decoration: none;
  color: burlywood;
  align-items: center;
}

#esra:hover {
  color: orangered;
  transition: all 0.5s ease;
}
